<main id="admin">

    <section>
        <h2>panel admin</h2>

        <a href="admin/story/add" class="btn add-btn">add story</a>

        <% for(const story of stories) { %> 
            <article>
                <h3><span class="bold">Title:</span> <%= story.Title %></h3>
                <p class="cta truncate"><span class="bold">Story:</span> <%= story.Contents %></p>
                <p><span class="bold">By:</span> <%= story.FirstName %> <%= story.LastName %></p>
                <p><span class="bold">In category:</span> <%= story.category_title %></p>
                <div>
                    <a href="admin/story/edit/<%= story.postID %>" class="btn edit-btn">edit</a>
                    <a href="admin/story/delete/<%= story.postID %>" class="btn delete-btn">delete</a>
                </div>
                    
            </article>

        <% } %> 

    </section>
</main>

<script type="module" src="/js/admin.js"></script>